<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.youtube.com/" target="_blank">Entity Framework Core</a>. Tüm hakları saklıdır.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Gizem Hazal Akbulut <i class="far fa-heart text-danger"></i></span>
    </div>
</footer>
